@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  h1{
    font-family: 'Share Tech Mono', monospace;
    text-transform: initial;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 160px;
}
  
  .navbar {
    margin-top: 30px;
    background-color: #fff;
    overflow: hidden;
    font-family: 'Belleza', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-list li {
    padding: 0 15px 0 30px;
    text-align: center;
  }
  
  .navbar-list a {
    display: block;
    color: black;
    padding: 14px 15px;
    text-decoration: none;
  }
  
  .navbar-list a:hover {
    border-radius: 45%;
    background-color: #F2BB2D;
    color: black;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  #search-input {
    padding: 5px;
    border: 1px solid #ccc;
    width: 190px;
    height: 34px;
    border-radius: 2px;
  }
  
  #search-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 230px;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
  }
  
  @media screen and (max-width: 600px) {
    .navbar-list {
      flex-direction: column;
      display: none;
      position: absolute;
      background-color: #333;
      width: 100%;
      text-align: center;
    }
  
    .navbar-list.active {
      display: flex;
    }
  
    .navbar-list li {
      width: 100%;
      text-align: center;
    }
  
    .search-box {
      margin: 15px auto;
    }
  
    .navbar-toggle {
      display: block;
      margin: 15px;
    }
  }
  